<html>
<head>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/style.css">
    <title>Help</title>
</head>
<body>
    <h1>{{title}}</h1>
    {{> header}}
    <p>Some useful help message</p>
    {{> footer}}
</body>
</html>