<html>
<head>
    <script src="/js/jquery-3.6.0.js"></script>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/home.js"></script>
    <title>Weather</title>
</head>
<body>
    <h1>{{title}}</h1>
    {{> header}}
    <input type="text" id="city">
    <button id="search">Search</button>
    <p id="result"></p>
   {{> footer}}
</body>
</html>